/* Nav bar styling */

.navbar {
  margin: 0;
  padding: 0;

  nav {
    min-height: 80px;
    width: 100%;
    background: #000;

    img {
      width: 150px;
      margin-left: 80px;
      position: absolute;
      top: 0;
      left: 5%;
    }

    .toggle-button {
      position: absolute;
      top: 60px;
      right: 60px;
      color: #fff;
      display: none;
      text-decoration: none;

      i {
        font-size: 2em;
      }
    }

    .nav-links {
      float: right;
      margin-right: 25px;
      min-height: 150px;
      display: flex;
      align-items: center;

      .select-lang {
        .form-control {
          opacity: 0.3;
          min-width: 100px;
          margin: 0 10px;
        }

        .white,
        .MuiSvgIcon-root,
        .PrivateNotchedOutline-root-4 {
          color: #fff !important;
          border-color: #fff !important;
        }
      }

      .nav-link {
        position: relative;
        display: inline-block;
        margin: 0 15px;
        text-decoration: none;
        text-transform: uppercase;
        color: #fff;
        opacity: 0.3;
        letter-spacing: 1px;
        font-size: 18px;

        &::before {
          position: absolute;
          content: "";
          left: 0;
          bottom: 0;
          width: 100%;
          height: 3px;
          background-color: #fff;
          transform: scaleX(0);
          transform-origin: right;
          transition: transform 0.4s linear;
        }

        &:hover::before {
          transform: scaleX(1);
          transform-origin: left;
        }
      }
    }

    .active {
      opacity: 1 !important;
    }
  }
}

@media (max-width: 699px) {
  nav {
    height: 150px;

    .toggle-button {
      display: flex !important;
    }

    .nav-links {
      display: flex;
      flex-direction: column;
      width: 100%;
      height: calc(100vh - 150px);
      position: absolute;
      justify-content: center;
      top: 145px;
      left: -100%;
      opacity: 1;
      transition: left 0.5 ease;

      .nav-link {
        padding: 30px 0;
        font-size: 1.7em !important;
        font-weight: bold;
      }
    }

    .nav-active {
      background-color: #000;
      left: 0;
      opacity: 1;
      transition: left 0.5 ease;
      z-index: 1000;
    }
  }
}

/* Carousel styling */

.carousel-container {
  width: 100%;
  height: auto;
  z-index: -5;

  .thumbs {
    display: flex;
    justify-content: center;
  }

  .carousel {
    height: 60vh;
  }

  .slide {
    background: #fff;
  }
}

/* Paragraph styling*/

.carousel-container {
  width: 100%;
  min-height: 100vh;
}

.health-insurance {
  margin-top: 200px;
}

.title {
  font-weight: bold;
}

.title-small {
  font-size: 1.5em;
}

.title-medium {
  font-size: 2em;
}

.title-large {
  font-size: 3em;
}

.subtitle,
.list-text {
  color: grey;
}

.subtitle-small {
  margin-top: 30px;
  font-size: 1em;
}

.subtitle-medium {
  margin-top: 40px;
  font-size: 1.2em;
}

.subtitle-large {
  margin-top: 50px;
  font-size: 1.5em;
}

.list {
  list-style: none;
}

.list i {
  margin-right: 10px;
}

.list-large {
  margin: 50px 0;

  .list-text {
    margin: 30px 0;
    font-size: 1.5em;
  }
}

.list-medium {
  margin: 40px 0;

  .list-text {
    margin: 25px 0;
    font-size: 1.2em;
  }
}

.list-small {
  margin: 30px 0;

  .list-text {
    margin: 20px 0;
    font-size: 1em;
  }
}

.btn {
  background-color: #006bd6;
  color: #fff;
  padding: 5px 20px;
  margin-bottom: 50px;
}

.btn:hover {
  background-color: #0080ff;
  color: #fff;
}

.btn i {
  margin-left: 15px;
}

.btn-large {
  font-size: 1.5em;
}

.btn-medium {
  font-size: 1.2em;
}

.btn-small {
  font-size: 1em;
}

.landing-container {
  padding: 100px;

  img {
    width: 650px;
    padding: 0 100px;
  }
}

.investment-plans {
  margin: 0 100px;
}

@media (max-width: 1399px) {
  .landing-container {
    padding: 60px;

    img {
      width: 550px;
      padding: 0 100px;
    }
  }

  .investment-plans {
    margin: 0 70px;
  }
}

@media (max-width: 699px) {
  .health-insurance {
    margin-top: 150px;
    padding: 50px;
    text-align: center;
  }

  .investment-plans {
    margin: 70px 0 0 0;
    padding: 50px;
    text-align: center;
  }

  .landing-container {
    img {
      width: 300px;
      padding: 100px 0;
    }
  }
}

/* About Us Page styling */

.about-container {
  min-height: 100vh;
  width: 100%;
  position: relative;
  left: 50%;
  transform: translate(-50%, 0%);

  .about-content {
    padding: 0 200px;
  }

  span {
    font-weight: bold;
    color: #0080ff;
  }

  .title {
    color: #000 !important;
  }

  .subtitle {
    padding: 0 100px;
  }

  .subtitle-small {
    padding: 0;
  }

  .bottom {
    margin: 40px 0 60px 0;
  }

  .list-item {
    padding: 20px;
  }

  .list-title {
    font-weight: bold;

    i {
      margin-right: 10px;
      color: #0080ff;
    }
  }

  .list-subtitle {
    color: grey;
  }

  .list-title-small {
    font-size: 1.2em;
    text-align: center;
  }

  .list-title-medium {
    font-size: 1.4em;
  }

  .list-title-large {
    font-size: 1.7em;
  }

  .list-subtitle-small {
    font-size: 0.9em;
    text-align: center;
  }

  .list-subtitle-medium {
    font-size: 1.1em;
  }

  .list-subtitle-large {
    font-size: 1.3em;
  }

  .about-us {
    text-align: center;
    padding: 50px 150px;
  }
}

@media (max-width: 699px) {
  .about-container {
    .about-us {
      padding: 50px;
    }

    .about-content {
      padding: 0 50px;
    }

    .list-item {
      margin: 0 0 20px 0;
    }
  }
}

/* Contact Us Page styling */

.contact-us {
  background: url(../src/images/contact-us-background.jpg);
  background-size: cover;
  min-height: 100vh;

  .paragraph {
    padding: 60px;
  }

  .fas {
    color: #000;
  }

  .i-small {
    display: none;
  }

  .i-medium {
    font-size: 1.5em;
    padding: 10px;
  }

  .i-large {
    font-size: 2em;
    padding: 10px;
  }

  .title {
    color: #000;
    font-weight: normal;
  }

  .title-small {
    font-size: 2em;
  }

  .subtitle-small {
    font-size: 1.3em;
  }

  .title-medium {
    font-size: 3em;
  }

  .title-large {
    font-size: 4em;
  }

  span {
    font-weight: bold;
    color: #0080ff;
  }

  .subtitle {
    color: grey;
    margin: 15px 0;
    margin-bottom: 30px;
  }

  .contact-detail {
    margin-left: 20px;

    .title {
      font-weight: 500;
    }

    .title-small {
      font-size: 1.7em;
    }

    .title-medium {
      font-size: 2em;
    }

    .title-large {
      font-size: 2.2em;
    }

    .subtitle {
      color: grey;
      margin: 0 0 15px 0;
    }
  }
}

@media (max-width: 699px) {
  .contact-us {
    text-align: center;

    .paragraph {
      margin-top: 100px;
    }
  }
}

/* Footer styling */

footer {
  width: 100%;
  text-align: center;
  color: gray;
  padding: 20px 0 20px 0;
  background-color: gainsboro;
}
